.inputOption {
  display: flex;
  align-items: center;
  color: rgb(104, 104, 104);
  margin-top: 10px;
  cursor: pointer;
  padding: 10px;
}

.inputOption:hover {
  background-color: rgb(231, 231, 231);
  border-radius: 10px;
}

.inputOption > h4 {
  margin-left: 10px;
  white-space: nowrap; /* don't let the text wrap */
}